<div class="maindiv">
	<h1><%= best_in_place @realised_training, :category, :as => :input %> vom 
		<%= best_in_place @realised_training, :date, :as => :date, :display_as => :exercise_date%>
	</h1>
	
	
	
		
</div>

<%= link_to "Alle trainings", realised_trainings_path%>
